streamlit
pandas
plotly
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
gspread-dataframe
xlsxwriter
openpyxl
aiohttp
streamlit_toggle
langchain_google_genai
streamlit-server-state
streamlit-option-menu
fpdf
pypdf2
pdf2image
fitz
frontend
pillow
streamlit_nested_layout
protobuf
